<header class="page-header">
  <div class="container">
    <div class="header-position">
      <nav class="header-nav">
        <a href="./index.html" class="header-logo">energy.flow</a>
        <button class="js-open-modal" type="button">
          <svg width="32" height="16" aria-label="switch of mobile menu">
            <use href="/img/symbol-defs.svg#icon-header-menu-icon"></use>
          </svg>
        </button>
      </nav>
      <div class="header-box">
        <p class="header-box-text">#Sport</p>
        <p class="header-box-text">#Healthy</p>
        <p class="header-box-text">#Workout</p>
        <p class="header-box-text">#Diet</p>
      </div>
    </div>
  </div>

  <!-- МОДАЛЬНЕ ВІКНО -->
  <div class="header-backdrop is-hidden">
    <div class="container header-modal">
      <div class="modal-position">
        <a href="./index.html" class="header-logo inverse">energy.flow</a>
        <button type="button" class="js-close-modal">
          <svg width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-x"></use>
          </svg>
        </button>
      </div>

      <div class="header-modal-menu">
        <a href="./index.html" class="header-modal-menu-btn active">Home</a>
        <a href="./index.html" class="header-modal-menu-btn">Favorites</a>
      </div>

      <load ="/partials/social-links.html" />
    </div>
  </div>
</header>
